html {
    box-sizing: border-box;
    margin: 20px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 800px;
  background-color: #D3CFCF;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

body{
    background-color:#D3CFCF;
}

.italic{
    font-style:italic;
}

h1{
font-family: 'Noto Serif', serif;
  font-style: normal;
  color: #434371;
}

h2{
  color: #434371;
  font-style: oblique;
  font-family: 'Noto Serif', serif;
}

h3{
  font-family: 'Noto Serif', serif;
  color: #9BA2FF;
}

h4{
  font-family: 'Montserrat',sans-serif;
  color: #9BA2FF;
  margin: 2px;
}

div{
  padding: 0px;
  margin: 0px;
}

p{
  font-family: 'Montserrat',sans-serif;
  color: #484041;
  padding: 2px;
  margin: 0px 0px 2px 0px;
  display: inline-block;
}

button{
  font-family: 'Montserrat',sans-serif;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid rgba(0,0,200,0.6);
  color: #9BA2FF;
  color: #484041;
  box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
  display: inline-block;
  cursor: pointer;
}

.nav{
    color: #9BA2FF;
    font-family: 'Noto Serif', serif;
    text-decoration: none;
    background-color: #434371;
    padding: 5px;
    margin: 3px;
}

a{
  color: #434371;
  font-family: 'Noto Serif', serif;
  text-decoration: none;
}

img{
    width: 40%;
}

.message{
  padding: 0px 10px 0px 10px;
}

.api-data {
  padding: 20px 50px;
  max-height: 200px;
}

.drink-text, .meal-text, .activity-text {
  padding-bottom: 20px;
  font-size: 20px;
  font-family: 'Montserrat',sans-serif;
  color: #484041;
  text-align: center;
}

.drink-image, .meal-image {
  width: 50%;
  height: 50%;
  align-items: center;
}

.controls {
  width: 100%;
  padding: 20px 50px;
}

.button, .new-plan {
  display: inline-block;
  color: #9BA2FF;
  border-radius: 4px;
  border-top: 20px;
  padding: 1rem;
  cursor: pointer;
  text-align: right;
  font-size: 20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  font-family: 'Montserrat',sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.new-plan:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

@media screen and (min-width:481px){ /*for computers*/
.container{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 15% 20% 60%;
    grid-template-areas: "nav nav nav nav nav"
                         "head head head head head"
                         "photo photo message message message";
}

.menu-1{
    grid-column: 1/1;
    grid-row: 1/1;
    text-align: center;
    color:#9BA2FF;
    margin:
}
.menu-2{
    grid-column: 2/2;
    grid-row: 1/1;
    text-align: center;
    color:#9BA2FF;
}
.menu-3{
    grid-column: 3/3;
    grid-row: 1/1;
    text-align: center;
    color:#9BA2FF;
}
.menu-4{
    grid-column: 4/4;
    grid-row: 1/1;
    text-align: center;
    color:#9BA2FF;
}
.menu-5{
    grid-column: 5/5;
    grid-row: 1/1;
    text-align: center;
    color:#9BA2FF;
}

.photo{
    grid-column: 1/3;
    grid-row: 3/4;
    text-align: center;
}

.head{
    grid-column: 5/6;
    grid-row: 2/3;
    text-align: right;
}

.message{
    grid-column: 3/6;
    grid-row: 3/4;
    text-align: left;
}
}

@media screen and (max-width:480px){ /*for phones*/
    .container{
    margin: 10px;
}

.menu-1{
    text-align: center;
    color:#9BA2FF;
    padding: 10px;
}
.menu-2{
  text-align: center;
  color:#9BA2FF;
  padding: 10px;
}
.menu-3{
  text-align: center;
  color:#9BA2FF;
  padding: 10px;
}
.menu-4{
  text-align: center;
  color:#9BA2FF;
  padding: 10px;
}
.menu-5{
  text-align: center;
  color:#9BA2FF;
  padding: 10px;
}

.photo{
    margin: 15px 0px 0px 0px;
    text-align: center;
}

.head{
  margin: 2px;
  text-align: center;
}

.message{
    margin: 2px;
    font-size: 60%
}
}
