p {
  color: red;
  text-align: center;
}

p::first-letter{
  font-size: 500%;
}

#test-id-1{
  color: purple;
}

.test-class{
  text-shadow: 2px 20px red;
}

a:hover{
  color: white;
}

h1{
  font-style: italic;
  font-size: 300%;
}
