html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 20px;
  padding: 20px;
}

.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 800px;
  background-color: #D3CFCF;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

body{
    background-color:#D3CFCF;
}

.italic{
    font-style:italic;
}

.nav{
    color: #9BA2FF;
    font-family: 'Noto Serif', serif;
    text-decoration: none;
    background-color: #434371;
    padding: 10px;
}

a{
  color: #9BA2FF;
  font-family: 'Noto Serif', serif;
  text-decoration: none;
}

img{
    max-width:25%;
    max-height:25%;
}

header, h1 {
  width: 100%;
  font-size: 60px;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ebebeb;
  font-family: 'Noto Serif', serif;
  font-style: normal;
  color: #434371;
}

p{
  font-family: 'Montserrat',sans-serif;
  color: #484041;
  padding: 3px 3px 3px 3px;
  border: 2px;
  display: inline-block;
}

h2{
  color: #9BA2FF;
  font-style: oblique;
  font-family: 'Noto Serif', serif;
}

h3{
  font-family: 'Noto Serif', serif;
  color: #9BA2FF;
}

.api-data {
  padding: 20px 50px;
  max-height: 200px;
}

.drink-text, .meal-text, .activity-text {
  padding-bottom: 20px;
  font-size: 20px;
  font-family: 'Montserrat',sans-serif;
  color: #484041;
  text-align: center;
}

.drink-image, .meal-image {
  width: 50%;
  height: 50%;
  align-items: center;
}

.controls {
  width: 100%;
  padding: 20px 50px;
}

.button, .new-plan {
  display: inline-block;
  margin-top:400px;
  color: #9BA2FF;
  border-radius: 4px;
  border-top: 100px;
  padding: 10px 20px;
  cursor: pointer;
  text-align: right;
  width: 100%;
  font-size: 20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  font-family: 'Montserrat',sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.new-plan:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}


@media screen and (max-width: 480px) {
  .app {
    width: 100%;
  }
  .quote-text {
    font-size: 18px;
  }

  .container{
  display: grid;
  grid-template-rows: 5% 5% 5% 5% 30% 10% 40%;
  grid-template-areas: "nav"
                       "nav"
                       "nav"
                       "nav"
                       "photo"
                       "head"
                       "message";
}

.menu-1{
  grid-row: 1;
  text-align: center;
  color:#9BA2FF;
}

.menu-2{
  grid-row: 2;
  text-align: center;
  color:#9BA2FF;
}

.menu-3{
  grid-row: 3;
  text-align: center;
  color:#9BA2FF;
}

.menu-4{
  grid-row: 4;
  text-align: center;
  color:#9BA2FF;
}

}.photo{
    grid-row: 5;
    padding:10px;
    text-align: center;
}

.head{
    grid-row: 6;
    font-size: 50%;
}

.message{
    grid-row: 7;
    font-size: 30%;
}
}
